{% load i18n %}
<div class="faq">
    <div class="caption">{% trans 'FAQ' %}</div>

    <div x-data="{
            activeAccordion: '',
            setActiveAccordion(id) {
                this.activeAccordion = (this.activeAccordion == id) ? '' : id
            },
            show: false
        }"
         x-init="setTimeout(() => show = true, 400)" x-show="show" x-transition.duration.700ms
         class="accordion">

        {% load i18n %}

        <div class="caption">{% trans "Account and support" %}</div>
        {% trans "How to contact the developers?" as caption %}{% trans "Via the feedback form in “Account” → “Feedback” section" as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}

        <div class="caption">{% trans "Working with the bot" %}</div>
        {% trans "How to get started with the bot?" as caption %}{% trans "Just send a photo of the receipt in the chat with the bot – it will automatically process the image and return the status" as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}
        {% trans "How to change the language in the bot?" as caption %}{% trans "In the bot menu or in the web application, select “Account” → “Language” and choose the desired one" as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}

        <div class="caption">{% trans "Web application" %}</div>
        {% trans "How to select a period for analytics?" as caption %}{% trans "On the main page of the webapp there are three fixed ranges available: week, month, and year. One of them is active by default. In the upcoming update there will be a choice of a custom period via the calendar" as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}
        {% trans "Which reports and charts are currently available?" as caption %}{% trans "Total spending amount, pie chart" as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}

        <div class="caption">{% trans "Rooms" %}</div>
        {% trans "What is a “room”?" as caption %}{% trans "It's a shared chat-cash register, where you can see receipts from all participants and overall charts" as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}
        {% trans "How is a room created?" as caption %}{% trans "The first room is automatically created upon first entering the bot. New rooms cannot be created yet, but you can be invited to an existing one" as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}
        {% trans "How to invite others to a room?" as caption %}{% trans "In the section menu, click the “Invite” button. A bot chat will open with a button to select users" as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}
        {% trans "Who can add and remove participants?" as caption %}{% trans "Only the room owner. Regular participants can remove themselves." as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}
        {% trans "How to switch rooms and set one as default?" as caption %}{% trans "If you have multiple rooms, switching arrows will appear. The “Set as default” button makes the current room the primary one. If you are removed from someone else's room, your own room will become the default again." as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}
        {% trans "Can you rename a room or change the currency?" as caption %}{% trans "Any participant can set their own local name for the room and choose the currency for display charts. The currency does not affect others. The room name set by the owner will be displayed to all participants who have not set their own room name." as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}

        <div class="caption">{% trans "Finance and charts" %}</div>
        {% trans "Which currencies are supported?" as caption %}{% trans "All world currencies are supported. All amounts are converted into the default currency using current exchange rates" as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}
        {% trans "How to see detailed information for a category on the chart?" as caption %}{% trans "Click on a segment – a window will appear with the category, amount in the room's currency, and a breakdown by original currencies" as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}

        <div class="caption">{% trans "Receipts" %}</div>
        {% trans "Can receipts be filtered?" as caption %}{% trans "Currently filtering is only by period. In future updates, filters by people and categories will be added." as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}
        {% trans "What can be edited in a receipt?" as caption %}{% trans "Full editing is available to any participant, as well as receipt deletion." as description %}{% include 'section/inc/faq/_faq_item.html' with faq_caption=caption faq_description=description %}
    </div>
</div>
