:root {
    --main_bg: #F0F0F0;
    --main_purple: #C2B5FF;
    --main_white: white;
    --main_green: #4cd964;
    --main_text_color: black;
    --main_btn_bg_color: #ECECEC;
    --main_btn_active_bg_color: #D9D9D9;

    --default_block_margin_bottom_int: 13;
    --default_block_margin_bottom: calc(var(--default_block_margin_bottom_int) * 1px);

    --default_block_padding: 10px;
    --default_block_margin_LR: 10px;
    --default_block_box_shadow_params: 1px 4px 4px 1px;
    --default_block_box_shadow: var(--default_block_box_shadow_params) rgba(0, 0, 0, 0.15);
    --default_block_border_radius: 10px;
    --default_block_mini_border_radius: 5px;

    --header_margin_bottom: var(--default_block_margin_bottom);

    --toggle_color: #ffffff;
    --toggle_on_bg_color: #4cd964;
    --toggle_off_bg_color: #ccc;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    --receipt_item_bg_color: #F9F9F9;
}

html, body {
    background-color: var(--main_bg);
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    min-height: 100svh;
    color: var(--main_text_color)
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
}
input {
    border: none;
    outline: none;
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: var(--main_purple);
    align-items: center;
    margin-bottom: var(--header_margin_bottom);
    box-shadow: var(--default_block_box_shadow);
    user-select: none;
    border-radius: 0 0 20px 20px;
    padding-bottom: 10px;
    position: relative;

     & .icon {
         display: flex;
         justify-content: center;
         align-content: center;
         cursor: pointer;
         --side-margin: 20px;

         &:first-child {
             margin-left: var(--side-margin);
         }
         &:last-child {
             margin-right: var(--side-margin);
         }

         & svg {
             width: 30px;
             height: 30px;
         }
     }

    & a {
        text-decoration: none;
        font-size: 23px;
        font-weight: 500;
        color: var(--main_text_color);
        user-select: none;
    }
}
.fleep {
    transition: transform .2s;

    &.fleep180x {
        transform: rotateX(-180deg);
    }
}

.main_block, .over_block {
    border-radius: var(--default_block_border_radius);
    background-color: var(--main_white);
    margin: 0 var(--default_block_margin_LR) var(--default_block_margin_bottom) var(--default_block_margin_LR);
    padding: var(--default_block_padding);
    box-shadow: var(--default_block_box_shadow);
}
& .blocks {
    & .save {
        text-align: center;
        text-transform: uppercase;
        background-color: var(--main_green);
    }
}
.main_block {
    & .over_block {
        margin: 0;
    }
    &.as_caption {
        margin: calc(var(--default_block_margin_bottom_int) * -2px) 0 var(--default_block_margin_bottom) 0;
        padding: calc(var(--default_block_margin_bottom_int) * 2px) var(--default_block_margin_LR) 10px var(--default_block_margin_LR);
        z-index: -10;
    }
    &.section_name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .input {
            display: flex;
            align-items: center;
            & svg {
                margin-left: 5px;
            }
        }
        & label {
            font-weight: bold;
        }

        & input[type="text"] {
            font-size: 16px;
            text-align: right;
            padding: 0;
        }
        & svg {
            width: 10px;
        }
    }

    &.expenses {
        display: flex;
        flex-direction: column;

        & .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            font-size: 20px;
            & .title {
                font-weight: bold;
            }
            & .value {
            }
        }
        & .note {
            font-size: 12px;
            background-color: var(--main_purple);
            margin: 8px calc(var(--default_block_margin_LR) * -1) calc(var(--default_block_padding) * -1) calc(var(--default_block_margin_LR) * -1);
            padding: 2px var(--default_block_margin_LR);
            border-radius: 0 0 var(--default_block_border_radius) var(--default_block_border_radius);
        }
    }
    &.chart {
        position: relative;

        &.nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 20px;

            & a {
                font-size: 50%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 80px;
                text-align: center;
                text-transform: uppercase;
                padding: 3px 5px;
                border-radius: 5px;
                background-color: var(--main_btn_bg_color);
                transition: background-color 0.5s;



                &.active {
                    background-color: var(--main_purple);
                }
            }
        }


        & #chartLegend {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: calc(var(--default_block_padding) * -1);
            & .legend-item {
                display: flex;
                align-items: center;
                margin-right: 10px;
                padding: 5px 10px;
                border: 1px solid #ccc;
                cursor: pointer;
                user-select: none;
                transition: opacity 0.5s;
                border-radius: 5px;
                background-color: white;
                width: fit-content;
                margin-bottom: 10px;

                & .legend-color-box {
                    border: 1px solid #ffffff;
                    border-radius: 2px;
                    margin: 0;
                }

                &.disabled {
                    color: rgba(128, 128, 128, 0.5);
                    opacity: 0.7;
                    & .legend-color-box {
                        opacity: 0.3;
                    }
                }
            }
        }


        & #chart_info {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            background: #f9f9f9;
            font-family: Arial, sans-serif;
            font-size: 14px;
            border-radius: 5px;
        }
    }
}
#chartjs-tooltip {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    transition: all 0.1s ease;
    padding: 10px;
    pointer-events: none;
    z-index: 1000;
}
#myChart {
    width: 100%;
    height: 1500px;
}
.over_block {
    background-color: var(--main_btn_bg_color);
    border-radius: var(--default_block_mini_border_radius);
}

.menu {
    &.caption_block {
        font-size: 21px;
        font-weight: 500;
        color: var(--main_text_color);
        user-select: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        --nav_btn_width: 20px;

        & p {
            margin: 10px 0;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            padding-left: var(--nav_btn_width);

        }
        & .nav_btn {
            width: var(--nav_btn_width);
            height: var(--nav_btn_width);
            & svg {
                width: var(--nav_btn_width);
                height: var(--nav_btn_width);
                transform: rotate(-90deg);
            }
        }
    }
    &.currency {
        & .head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & .title {
                font-weight: bold;
            }
            & .name {
                display: flex;

                & .arrow {
                    margin: 0 0 0 5px;
                }
                & svg {
                    height: 10px;
                    width: 10px;
                }
            }
        }

    }

    & .team {
        & .person_card {
            & .top {
                display: flex;
                flex-direction: row;
                & .data {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                & .photo {
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    & img {
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                    }
                }

                & img {
                    width: 50px;
                    height: 50px;
                }

                & .invite {
                    display: flex;

                    & div {
                        padding: 5px 10px;
                        margin-right: 10px;
                        height: 20px;

                        font-size: 12px;
                        font-weight: 500;

                        text-transform: uppercase;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;

                        &:first-child {
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    & .accept {
                        background-color: #00bf63;
                    }
                    & .dismiss {
                        background-color: #fe5d5d;
                    }

                }
            }

        }
    }
}

.choose {
    --bg_color: #ECECEC;
    --item-height: 40px;

    & .id {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        & svg {
            width: 20px;
        }
    }
    & .search {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--bg_color);
        height: 40px;
        border-radius: var(--default_block_border_radius);
        padding: 0 10px 0 0;
        margin-top: 10px;
        margin-bottom: var(--default_block_margin_bottom);
        box-shadow: var(--default_block_box_shadow);

        & input {
            background-color: var(--bg_color);
            height: 100%;
            width: 90%;
            font-size: 16px;
            margin: 0;
            padding: 0;
            &::placeholder {
                text-decoration: underline;
            }
        }
    }
    & .groups {
        max-height: calc(calc(var(--item-height) * 5) - var(--default_block_margin_bottom) + 10px);
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        padding: 0 4px var(--default_block_margin_bottom) 4px;
        margin: 0 -4px;
    }


    & .option_group {
        border-radius: var(--default_block_border_radius);
        background-color: var(--bg_color);
        padding: 0 10px 0 10px;
        margin-bottom: var(--default_block_margin_bottom);

        box-shadow: var(--default_block_box_shadow);

        display: flex;
        align-items: center;
        height: var(--item-height);
        scroll-snap-align: start;

        &:last-child {
            margin-bottom: 0;
        }

        & .id {
            font-weight: bold;
        }

        &.active {
            border: 2px solid var(--main_purple);
        }
    }
}

.referral_block {
    .caption {
        color: var(--main_text_color);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .link {
        height: 20px;
        padding-top: 0;
        padding-bottom: 0;
        & a {
            text-decoration: none;
            color: var(--main_text_color);
            font-size: 12px;
        }
    }
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 50px;
    height: 28px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.4s;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &::before {
        content: "";
        position: absolute;
        height: 22px;
        width: 22px;
        left: 3px;
        top: 3px;
        background-color: var(--toggle_color);
        border-radius: 50%;
        transition: transform 0.4s;
    }

    &:checked {
        background-color: var(--toggle_on_bg_color);

        &::before {
            transform: translateX(22px);
        }
    }
}




.animate-icon {
    animation: shrink-bounce 0.25s ease;
  }

@keyframes shrink-bounce {
0% { transform: scale(1); }
50% { transform: scale(0.8); }
100% { transform: scale(1); }
}

#feed {
    position: relative;
    & .header {
        height: 30px;
        font-size: 20px;
        text-transform: uppercase;
        color: var(--main_text_color);
        transition: margin .5s, border-radius .5s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        & .block {
            display: flex;
            width: 50px;
            height: 100%;

            &:first-child {
                justify-content: start;
            }
            &:last-child {
                justify-content: end;
            }
        }

        &.sticky {
            position: sticky;
            top: 0;
            margin: 0 calc(var(--default_block_margin_LR) * -1px);
            border-radius: 0;

            & .block .photo_block {
                margin-right: var(--default_block_margin_LR);
            }
            & .block .size {
                margin-left: var(--default_block_margin_LR);
            }
        }

        & .size {
            display: flex;
            align-items: center;
            font-size: 17px;
            padding: 0;
            transition: margin .5s;
            & select {
                height: 100%;
                padding: 0 5px;
                border-radius: 5px;
                text-align: center;
                color: var(--main_text_color);
                background-color: var(--main_btn_bg_color);
                border: none;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                text-align-last: center;
                font-size: 17px;

                & option {
                    text-align: center;
                }

                &::before {
                    display: none;
                    content: "";
                }
            }
        }
        & .photo_block {
            overflow: hidden;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            transition: margin .5s;
        }
        & .photo {
            background-color: var(--main_btn_bg_color);
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 5px;
            border-radius: 5px;
            transition: margin .5s;
            position: relative;
            cursor: pointer;

            & svg {
                width: 20px;
                height: 20px;
            }

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 1px;
                width: 141.42%;
                height: 2px;
                background: black;
                transform: rotate(45deg);
                transform-origin: left;
                transition: width 0.5s;
              }
              &.active::before {
                width: 0;
              }

        }
    }
    & .receipt {
        margin: var(--default_block_margin_bottom) var(--default_block_margin_LR);
        & .shop {
            margin-bottom: var(--default_block_margin_bottom);
            & .name {
                font-size: 15px;
                font-weight: bold;
                text-align: center;
            }
            & .address {
                margin-top: 5px;
                font-size: 10px;
                font-weight: 500;
                text-align: center;
            }
        }
        & .photo {
            --border-radius: 10px;
            border-radius: var(--border-radius);
            max-height: 300px;
            overflow-y: scroll;
            box-shadow: var(--default_block_box_shadow);
            background-color: var(--receipt_item_bg_color);


            &::-webkit-scrollbar {
                display: none;
            }
            & img {
                width: 100%;
                height: auto;
                border-radius: var(--border-radius);
                margin-bottom: -5px;

            }
        }

        & .items ul {
            padding: 0;
            margin: 0;
            & li {
                display: flex;
                justify-content: space-between;
                margin: var(--default_block_margin_bottom) 0;
                background-color: var(--receipt_item_bg_color);
                padding: var(--default_block_padding);
                border-radius: 10px;
                box-shadow: var(--default_block_box_shadow);
                &:first-child {
                    margin-top: 0;
                }
                & .col {
                    display: flex;
                    flex-direction: column;

                }
                & .name {
                    font-size: 13px;
                    font-weight: 500;
                }
                & .category {
                    font-size: 8px;
                }
                & .price {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                }
                &.total {
                    & .name {
                        font-size: 16px;
                    }
                    & .total_value {
                        font-size: 16px;
                    }

                }
            }
        }
        & img {
            max-width: 100%;
            height: 200px;
        }
        & .date {
            opacity: 0.6;
            padding: 0 5px 0 0;
            margin: 0;
            text-align: right;
            font-size: 13px;
            font-weight: 300;

        }
    }
}
#paginator {
    margin-bottom: var(--default_block_margin_bottom);
    padding: var(--default_block_padding);
    .paginator_buttons {
        display: flex;
        justify-content: center;
        & svg {
            width: 15px;
            height: 15px;
        }
        & button {
            border-radius: 5px;
            border: none;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: var(--main_btn_bg_color);
            margin: 0 5px;
            font-size: 16px;
            color: var(--main_text_color);
            text-align: center;
            box-shadow: var(--default_block_box_shadow);
            transition: opacity .5s, background-color .5s;
            padding: 0;

            &.active {
                background-color: var(--main_purple);
            }

            &.previous {
                box-shadow: none;
                background-color: transparent;
                & svg {
                    transform: rotate(90deg);
                }
            }
            &.next {
                box-shadow: none;
                background-color: transparent;
                & svg {
                    transform: rotate(-90deg);
                }
            }
            &.next,
            &.previous {
                opacity: 0.2;
                &.active {
                    opacity: 1;
                }
            }



        }
    }
}
#expensesPeriods {
    display: flex;
    flex-direction: row;

    & button {
        display: flex;
        align-items: center;
        padding: 10px 0;
        width: 100%;
        justify-content: center;
        margin: 0 5px;
        border-radius: 5px;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--main_text_color);
        border: none;
        transition: background-color .5s;
        box-shadow: var(--default_block_box_shadow);

        &.active {
            background-color: var(--main_purple);
            /*animation: shrink-bounce 0.5s ease;*/
        }

        &:first-of-type,
        &:last-of-type {
            margin: 0;
        }
        &:first-of-type {
            margin-right: 5px;
        }
        &:last-of-type {
            margin-left: 5px;
        }


    }
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .content {}
}
.down_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--default_block_padding) 0;
    background-color: var(--main_green);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;

    position: sticky;
    bottom: 0;

    width: 100%;
    height: 40px;
}