:root {
    --main_bg: #F0F0F0;
    --main_purple: #C2B5FF;
    --main_white: white;
    --main_green: #4cd964;
    --main_btn_bg_color: #ECECEC;
    --main_btn_active_bg_color: #D9D9D9;
    --main_red: #fe5d5d;

    --default_block_margin_bottom_int: 13;
    --default_block_margin_bottom: calc(var(--default_block_margin_bottom_int) * 1px);

    --default_block_padding: 10px;
    --default_block_margin_LR: 10px;
    --default_block_box_shadow_params: 1px 4px 4px 1px;

    --default_block_border_radius: 10px;
    --default_block_mini_border_radius: 5px;

    --header_margin_bottom: var(--default_block_margin_bottom);

    --toggle_color: #ffffff;
    --toggle_on_bg_color: #4cd964;
    --toggle_off_bg_color: #ccc;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;


    --header_text_color: #000000;
    --bg: #F0F0F0;
    --block_bg: #ffffff;
    --second_block_bg: #F9F9F9;
    --receipt_item_bg_color: var(--second_block_bg);
    --main_text_color: black;
    --main_text_color_active: black;
    --main_link_color: #246478;
    --default_block_box_shadow: var(--default_block_box_shadow_params) rgba(0, 0, 0, 0.15);

}
svg {
    fill: var(--main_text_color);
    & g {
        fill: var(--main_text_color);
    }
}

.dark {
    --header_text_color: #000000;
    --bg: #1a2430;
    --block_bg: #203041;
    --second_block_bg: #1a2634;

    --main_text_color: #ffffff;
    --main_text_color_active: black;
    --default_block_box_shadow: var(--default_block_box_shadow_params) rgba(0, 0, 0, 0.15);
    --main_link_color: #3abee7;
}

html, body {
    background-color: var(--bg);
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--main_text_color);
    max-height: 50svh;
}

html {
    /*     background-color: var(--main_purple); */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top));
}

body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 500px;
    margin-top: -500px;
    background: transparent;
    z-index: 100;
    backdrop-filter: blur(4px);
}

body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: -500px;
    background: var(--main_purple);
    z-index: 99;
}
a {
    color: var(--main_link_color);
}
main {
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: var(--main_purple);
    align-items: center;
    margin-bottom: var(--header_margin_bottom);
    box-shadow: var(--default_block_box_shadow);
    user-select: none;
    border-radius: 0 0 20px 20px;
    padding-bottom: 10px;
    position: relative;

    svg {
        fill: black;
        & g {
            fill: black;
        }
    }

    & .icon {
        display: flex;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        --side-margin: 20px;

        &:first-child {
            margin-left: var(--side-margin);
        }

        &:last-child {
            margin-right: var(--side-margin);
        }

        & svg {
            display: flex;
            align-items: center;
            width: 25px;
            height: 25px;

            & g {
                fill: var(--header_text_color);
            }
        }
    }

    & a {
        text-decoration: none;
        font-size: 23px;
        font-weight: 500;
        color: var(--header_text_color);
        user-select: none;
    }
}

.fleep {
    transition: transform .2s;
    transform: rotateX(0deg);

    &.fleep180x {
        transform: rotateX(-180deg);
    }
}

.main_block, .over_block {
    border-radius: var(--default_block_border_radius);
    background-color: var(--block_bg);
    margin: 0 var(--default_block_margin_LR) var(--default_block_margin_bottom) var(--default_block_margin_LR);
    padding: var(--default_block_padding);
    box-shadow: var(--default_block_box_shadow);
}

& .blocks {
    & .save {
        text-align: center;
        text-transform: uppercase;
        background-color: var(--main_green);
    }
}

.main_block {
    &.base_section {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 3px;
        align-items: center;
        & label{
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    & .over_block {
        margin: 0;
    }

    &.as_caption {
        margin: calc(var(--default_block_margin_bottom_int) * -2px) 0 var(--default_block_margin_bottom) 0;
        padding: calc(var(--default_block_margin_bottom_int) * 2px) var(--default_block_margin_LR) 10px var(--default_block_margin_LR);
        z-index: -10;
    }

    &.section_name {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .input {
            display: flex;
            align-items: center;

            & svg {
                margin-left: 5px;
            }
        }

        & label {
            font-weight: bold;
        }

        & input[type="text"] {
            font-size: 16px;
            text-align: right;
            padding: 0;
            color: var(--main_text_color);
        }

        & svg {
            width: 10px;
            height: 10px;
            fill: var(--main_text_color);
        }
    }

    &.expenses {
        display: flex;
        flex-direction: column;

        & .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            font-size: 20px;

            & .title {
                font-weight: bold;
            }

            & .value {
            }
        }

        & .note {
            font-size: 12px;
            background-color: var(--main_purple);
            margin: 8px calc(var(--default_block_margin_LR) * -1) calc(var(--default_block_padding) * -1) calc(var(--default_block_margin_LR) * -1);
            padding: 2px var(--default_block_margin_LR);
            border-radius: 0 0 var(--default_block_border_radius) var(--default_block_border_radius);
            color: var(--main_text_color_active);
        }

        & button {
            background-color: var(--block_bg);
        }
    }

    &.chart {
        position: relative;

        &.nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 20px;

            & a {
                font-size: 50%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 80px;
                text-align: center;
                text-transform: uppercase;
                padding: 3px 5px;
                border-radius: 5px;
                background-color: var(--main_btn_bg_color);
                transition: background-color 0.5s;


                &.active {
                    background-color: var(--main_purple);
                }
            }
        }


        & #chartLegend {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: calc(var(--default_block_padding) * -1);

            & .legend-item {
                display: flex;
                align-items: center;
                margin-right: 10px;
                padding: 5px 10px;
                border: 1px solid #ccc;
                cursor: pointer;
                user-select: none;
                transition: opacity 0.5s;
                border-radius: 5px;
                background-color: var(--block_bg);
                width: fit-content;
                margin-bottom: 10px;

                & .legend-color-box {
                    border: 1px solid #ffffff;
                    border-radius: 2px;
                    margin: 0;
                }

                &.disabled {
                    color: rgb(82 82 82 / 30%);
                    opacity: 0.7;

                    & .legend-color-box {
                        opacity: 0.3;
                    }
                }
            }
        }


        & #chart_info {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            background: #f9f9f9;
            font-family: Arial, sans-serif;
            font-size: 14px;
            border-radius: 5px;
        }
    }

    &.add {
        display: flex;
        align-items: center;
        justify-content: center;
        & a {
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            color: var(--main_text_color);
        }
    }

    &.language {
        display: flex;
        align-items: center;
        & .form-group {
            width: 100%;
            display: flex;
            justify-content: space-between;

            & select {
                display: flex;
                align-items: center;
                border: none;
                outline: none;
                font-size: 15px;
                background-color: transparent;
                color: var(--main_text_color);
            }
        }
    }
}

#chartjs-tooltip {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    transition: all 0.1s ease;
    padding: 10px;
    pointer-events: none;
    z-index: 1000;
}

#myChart {
    width: 100%;
    height: 1500px;
}

.over_block {
    background-color: var(--main_btn_bg_color);
    border-radius: var(--default_block_mini_border_radius);
}

.menu {
    &.caption_block {
        font-size: 21px;
        font-weight: 500;
        color: var(--main_text_color);
        user-select: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        --nav_btn_width: 20px;

        & p {
            margin: 10px 0;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            padding-left: var(--nav_btn_width);

        }

        & .nav_btn {
            width: var(--nav_btn_width);
            height: var(--nav_btn_width);

            & svg {
                width: var(--nav_btn_width);
                height: var(--nav_btn_width);
                transform: rotate(-90deg);
            }
        }
    }

    &.currency {
        & .head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & .title {
                font-weight: bold;
            }

            & .name {
                display: flex;

                & .arrow {
                    margin: 0 0 0 5px;
                }

                & svg {
                    height: 10px;
                    width: 10px;

                    & g {
                        fill: var(--main_text_color);
                    }

                }
            }
        }

    }

    & .team {
        & .person_card {
            & .top {
                display: flex;
                flex-direction: row;

                & .data {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                & .photo {
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    & img {
                        width: 80px;
                        height: 80px;
                        border-radius: 100%;
                    }
                }

                & img {
                    width: 50px;
                    height: 50px;
                }

                & .invite {
                    display: flex;

                    & div {
                        padding: 5px 10px;
                        margin-right: 10px;
                        height: 20px;

                        font-size: 12px;
                        font-weight: 500;

                        text-transform: uppercase;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }

                    & .accept {
                        background-color: #00bf63;
                    }

                    & .dismiss {
                        background-color: var(--main_red);
                    }

                }
            }
            & .delete {
                display: flex;
                color: var(--main_red);
                margin-top: 10px;
            }
            & .owner {
                font-weight: bold;
            }
            & .username {
                color: var(--main_link_color);
            }

        }
    }
}

.choose {
    --bg_color: #ECECEC;
    --item-height: 40px;

    & .id {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;

        & svg {
            width: 20px;
            fill: var(--main_text_color);
        }
    }

    & .search {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--second_block_bg);
        height: 40px;
        border-radius: var(--default_block_border_radius);
        padding: 0 10px 0 0;
        margin-top: 10px;
        margin-bottom: var(--default_block_margin_bottom);
        box-shadow: var(--default_block_box_shadow);

        & input {
            background-color: transparent;
            height: 100%;
            width: 90%;
            font-size: 16px;
            margin: 0;
            padding: 0;

            &::placeholder {
                text-decoration: underline;
            }
        }
    }

    & .groups {
        max-height: calc(calc(var(--item-height) * 5) - var(--default_block_margin_bottom) + 10px);
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        padding: 0 4px var(--default_block_margin_bottom) 4px;
        margin: 0 -4px;
    }


    & .option_group {
        border-radius: var(--default_block_border_radius);
        background-color: var(--second_block_bg);
        border: 2px solid var(--second_block_bg);
        padding: 0 10px 0 10px;
        margin-bottom: var(--default_block_margin_bottom);

        box-shadow: var(--default_block_box_shadow);

        display: flex;
        align-items: center;
        height: var(--item-height);
        scroll-snap-align: start;

        &:last-child {
            margin-bottom: 0;
        }

        & .id {
            font-weight: bold;
        }

        &.active {
            border: 2px solid var(--main_purple);
        }

        &.choose {
            border: 2px dashed var(--main_purple);
        }
    }
}

.referral_block {
    .caption {
        color: var(--main_text_color);
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .link {
        height: 20px;
        padding-top: 0;
        padding-bottom: 0;

        & a {
            text-decoration: none;
            color: var(--main_text_color);
            font-size: 12px;
        }
    }
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 50px;
    height: 28px;
    background-color: #ccc;
    border-radius: 34px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.4s;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    &::before {
        content: "";
        position: absolute;
        height: 22px;
        width: 22px;
        left: 3px;
        top: 3px;
        background-color: var(--toggle_color);
        border-radius: 50%;
        transition: transform 0.4s;
    }

    &:checked {
        background-color: var(--toggle_on_bg_color);

        &::before {
            transform: translateX(22px);
        }
    }
}


.animate-icon {
    animation: shrink-bounce 0.25s ease;
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

#feed {
    position: relative;

    & .header {
        height: 30px;
        font-size: 20px;
        text-transform: uppercase;
        color: var(--main_text_color);
        transition: margin .5s, border-radius .5s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;

        & .block {
            display: flex;
            width: 50px;
            height: 100%;

            &:first-child {
                justify-content: start;
            }

            &:last-child {
                justify-content: end;
            }
        }

        &.sticky {
            position: sticky;
            top: 0;
            margin: 0 calc(var(--default_block_margin_LR) * -1px);
            border-radius: 0;

            & .block .photo_block {
                margin-right: var(--default_block_margin_LR);
            }

            & .block .size {
                margin-left: var(--default_block_margin_LR);
            }
        }

        & .size {
            display: flex;
            align-items: center;
            font-size: 17px;
            padding: 0;
            transition: margin .5s;

            & select {
                height: 100%;
                padding: 0 5px;
                border-radius: 5px;
                text-align: center;
                color: var(--main_text_color);
                background-color: var(--second_block_bg);
                border: none;
                outline: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                text-align-last: center;
                font-size: 17px;

                & option {
                    text-align: center;
                }

                &::before {
                    display: none;
                    content: "";
                }
            }
        }

        & .photo_block {
            overflow: hidden;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            transition: margin .5s;
        }

        & .photo {
            background-color: var(--second_block_bg);
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 5px;
            border-radius: 5px;
            transition: margin .5s;
            position: relative;
            cursor: pointer;

            & svg {
                width: 20px;
                height: 20px;

                & g {
                    fill: var(--main_text_color);
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 1px;
                width: 141.42%;
                height: 2px;
                background: var(--main_text_color);
                transform: rotate(45deg);
                transform-origin: left;
                transition: width 0.5s;
            }

            &.active::before {
                width: 0;
            }

        }
    }

    & .receipt {
        margin: var(--default_block_margin_bottom) var(--default_block_margin_LR);

        & .shop {
            margin-bottom: var(--default_block_margin_bottom);

            & .name {
                font-size: 15px;
                font-weight: bold;
                text-align: center;
            }

            & .address {
                margin-top: 5px;
                font-size: 10px;
                font-weight: 500;
                text-align: center;
            }
        }

        & .photo {
            --border-radius: 10px;
            border-radius: var(--border-radius);
            max-height: 300px;
            overflow-y: scroll;
            box-shadow: var(--default_block_box_shadow);
            background-color: var(--receipt_item_bg_color);


            &::-webkit-scrollbar {
                display: none;
            }

            & img {
                width: 100%;
                height: auto;
                border-radius: var(--border-radius);
                margin-bottom: -5px;

            }
        }

        & .items ul {
            padding: 0;
            margin: 0;

            & li {
                display: flex;
                justify-content: space-between;
                margin: var(--default_block_margin_bottom) 0;
                background-color: var(--receipt_item_bg_color);
                padding: var(--default_block_padding);
                border-radius: 10px;
                box-shadow: var(--default_block_box_shadow);

                &:first-child {
                    margin-top: 0;
                }

                & .col {
                    display: flex;
                    flex-direction: column;

                }

                & .name {
                    font-size: 13px;
                    font-weight: 500;
                }

                & .category {
                    font-size: 8px;
                }

                & .price {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                }

                &.total {
                    & .name {
                        font-size: 16px;
                    }

                    & .total_value {
                        font-size: 16px;
                    }

                }
            }
        }

        & img {
            max-width: 100%;
            height: 200px;
        }

        & .date {
            opacity: 0.6;
            padding: 0 5px 0 0;
            margin: 0;
            text-align: right;
            font-size: 13px;
            font-weight: 300;

        }
    }
}

#paginator {
    margin-bottom: var(--default_block_margin_bottom);
    padding: var(--default_block_padding);

    .paginator_buttons {
        display: flex;
        justify-content: center;

        & svg {
            width: 15px;
            height: 15px;
        }

        & button {
            border-radius: 5px;
            border: none;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: var(--second_block_bg);
            margin: 0 5px;
            font-size: 16px;
            color: var(--main_text_color);
            text-align: center;
            box-shadow: var(--default_block_box_shadow);
            transition: opacity .5s, background-color .5s;
            padding: 0;

            & svg g {
                fill: var(--main_text_color);
            }

            &.active {
                background-color: var(--main_purple);
            }

            &.previous {
                box-shadow: none;
                background-color: transparent;

                & svg {
                    transform: rotate(90deg);
                }
            }

            &.next {
                box-shadow: none;
                background-color: transparent;

                & svg {
                    transform: rotate(-90deg);
                }
            }

            &.next,
            &.previous {
                opacity: 0.2;

                &.active {
                    opacity: 1;
                }
            }


        }
    }
}

#expensesPeriods {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
    box-shadow: none;

    & button {
        display: flex;
        align-items: center;
        padding: 10px 0;
        width: 100%;
        justify-content: center;
        margin: 0 5px;
        border-radius: 5px;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--main_text_color);
        border: none;
        transition: background-color .5s;
        box-shadow: var(--default_block_box_shadow);


        &.active {
            background-color: var(--main_purple);
            color: var(--main_text_color_active);
            /*animation: shrink-bounce 0.5s ease;*/
        }

        &:first-of-type,
        &:last-of-type {
            margin: 0;
        }

        &:first-of-type {
            margin-right: 5px;
            border-radius: var(--default_block_border_radius) 5px 5px var(--default_block_border_radius);
        }

        &:last-of-type {
            margin-left: 5px;
            border-radius: 5px var(--default_block_border_radius) var(--default_block_border_radius) 5px;
        }

        &:only-of-type {
            border-radius: var(--default_block_border_radius);
            margin: 0;
        }


    }
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .content {
    }
}

.down_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--default_block_padding) 0;
    background-color: var(--main_green);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;

    position: sticky;
    bottom: 0;

    width: 100%;
    height: 40px;
}

.no_data {
    padding: var(--default_block_padding);
    margin: 0 var(--default_block_margin_LR) var(--default_block_margin_bottom) var(--default_block_margin_LR);

    & .receipt_in_hand {
        width: 59%;
        overflow: hidden;
        border-radius: 0 0 0 42%;
        margin: 0 auto;
        padding-right: 23%;

        & .receipt {
            width: 60%;
            position: relative;
            container-type: inline-size;
            margin-left: 40%;

            & img {
                max-width: 100%;
            }

            & .title {
                position: absolute;
                top: 5%;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: 10cqw;
                text-transform: uppercase;
            }

            & .footer {
                position: absolute;
                width: 100%;
                text-align: center;
                font-size: 10cqw;
                bottom: 14.1%;
                text-transform: uppercase;
            }

            & .hand {
                position: absolute;
                width: 110%;
                top: 34%;
                left: -91.8%;
            }
        }
    }

    & .text {
        font-size: 13px;

        & .caption {
            font-size: 16px;
            text-align: center;
            font-weight: bold;
        }
    }
}
.loading {
  min-width: 100%;
  min-height: 50svh;
  display: flex;
  justify-content: center;
  align-items: center;

  .round {
    width: 30px;
    height: 30px;

    border-radius: 100%;
    margin: 0 10px;
    animation: bounce 1.3s infinite ease-in-out;
  }

  .round:nth-child(1) { animation-delay: 1s; }
  .round:nth-child(2) { animation-delay: 1.2s; }
  .round:nth-child(3) { animation-delay: 1.4s; }
  .round:nth-child(4) { animation-delay: 1.6s; }
  .round:nth-child(5) { animation-delay: 1.8s; }


}
@keyframes bounce {
    0% {
      margin-top: 0px;
      background-color: var(--main_purple);
    }
    25% {
      background-color: var(--main_purple);
    }
    50% {
      margin-top: 100px;
    }
}
.accordion {
    --border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: var(--default_block_margin_LR);
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--second_block_bg);
    color: var(--main_text_color);
    box-shadow: var(--default_block_box_shadow);

    & .group {
        border: 1px #ff000000 solid;
        overflow: hidden;
        & .description {
            font-size: 13px;
            padding: 10px var(--default_block_margin_LR);
            background-color: #ffffff;
            background-color: var(--second_block_bg);

        }

        &:first-of-type {
            & button {
                border-radius: var(--border-radius) var(--border-radius) 0 0;
            }
        }
       &:last-of-type {
            & button {
                border-radius: 0 0 var(--border-radius) var(--border-radius);
            }
        }
        &:only-of-type {
            & button {
                border-radius: var(--border-radius);
            }
        }
        & button {
            color: var(--main_text_color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border: 1px #ff000000 solid;
            outline: none;
            padding: 10px var(--default_block_margin_LR);
            font-size: 16px;
            background-color: var(--block_bg);

            & svg {
                width: 10px;
                height: 10px;
            }
        }
    }
}
form.feedback {
    background-color: var(--block_bg);
    display: flex;
    flex-direction: column;
    margin: 0 var(--default_block_margin_LR) var(--default_block_margin_bottom) var(--default_block_margin_LR);
    box-shadow: var(--default_block_box_shadow);
    border-radius: var(--default_block_border_radius);
    padding-top: 10px;
    & .caption {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: var(--default_block_margin_bottom);
    }
    & label {
        padding: 10px;
    }

    & textarea {
        color: var(--main_text_color);
        background-color: transparent;
        width: calc(100% - 10px * 2);
        margin: 0;
        padding: 10px;
        border: none;
        outline: none;
        font-size: 16px;
    }

    & button[type='submit'] {
        background-color: var(--main_purple);
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 0 0 var(--default_block_border_radius) var(--default_block_border_radius);
        color: var(--main_text_color);
        text-transform: uppercase;
        font-size: 13px;
    }
}
