{% extends 'base.html' %}
{% load static %}

{% block main_scripts %}
    <script src="{% static 'js/telegram.js' %}" defer></script>
    <script src="{% static 'js/cookies.js' %}" defer></script>
    <script src="{% static 'js/detect_sticky.js' %}" defer></script>
    <script src="{% static 'js/init.js' %}" defer></script>
    <script src="{% static 'js/tabs.js' %}" defer></script>
    <script src="{% static 'js/currency.js' %}" defer></script>
    <script src="{% static 'js/team.js' %}" defer></script>
    <script src="{% static 'js/charts.js' %}" defer></script>
    <script src="{% static 'js/receipt_feed.js' %}" defer></script>
{% endblock %}

{% block content %}

    {% include 'section/inc/_header.html' %}
    <main>
        {% include 'section/inc/tabs/_account.html' %}
        {% include 'section/inc/tabs/_main.html' %}
        {% include 'section/inc/tabs/_menu.html' %}
    </main>

{% endblock %}