{% load i18n %}
{% load static %}
<div x-data="{ show: false }" x-init="setTimeout(() => show = true, 400)" id="NoData" class="no_data" x-show="show"
     x-transition.duration.700ms>
    <div class="receipt_in_hand">
        <div class="receipt">
            <img src="{% static 'img/receipt.png' %}" alt="">
            <div class="title">{% trans 'Receipt' %}</div>
            <div class="footer">Finance Lens</div>
            <img src="{% static 'img/hand.png' %}" alt="" class="hand">
        </div>
    </div>

    <div class="text">
        <p class="caption">
            {% trans "👋 Hello! It’s empty here for now" %}
        </p>

        <p>
            {% blocktrans trimmed %}
                To get it up and running, just send a photo of your receipt to our Telegram bot.
                It will quickly recognize your purchases and display beautiful charts here —
                how much you spent, on what, and more.
            {% endblocktrans %}
        </p>

        <p>
            {% trans "Give it a try right now — it’s simple and even a bit fun!" %}
        </p>
    </div>
</div>

{% include 'section/inc/faq/_faq.html' %}