{% load static %}
<div x-data="{ show: false }" x-init="setTimeout(() => show = true, 400)" id="NoData" class="no_data" x-show="show" x-transition.duration.700ms>
    <div class="receipt_in_hand">
        <div class="receipt">
            <img src="{% static 'img/receipt.png' %}" alt="">
            <div class="title">Чек</div>
            <div class="footer">Finance Lens</div>
            <img src="{% static 'img/hand.png' %}" alt="" class="hand">
        </div>
    </div>
    <div class="text">
        <p class="caption">👋 Привет! Пока что здесь пусто</p>
        <p>Чтобы всё заработало, просто отправь фото чека в нашего Telegram-бота. Он быстро распознает покупки и покажет здесь красивые графики — сколько потратил, на что, и не только</p>
        <p>Попробуй прямо сейчас — это просто и даже немного интересно!</p>
    </div>
</div>