
<div x-data="{
        activeAccordion: '',
        setActiveAccordion(id) {
            this.activeAccordion = (this.activeAccordion == id) ? '' : id
        },
        show: false
    }"
     x-init="setTimeout(() => show = true, 400)" x-show="show" x-transition.duration.700ms

     class="accordion">

    {% include 'section/inc/_faq_item.html' with faq_caption="" faq_description="" %}
    {% include 'section/inc/_faq_item.html' with faq_caption="" faq_description="" %}
    {% include 'section/inc/_faq_item.html' with faq_caption="" faq_description="" %}
    {% include 'section/inc/_faq_item.html' with faq_caption="" faq_description="" %}

</div>