{% load static %}
<div x-data x-cloak>

    <template x-if="$store.plans.plans.length">
        <div class="main_block plans">
            <div class="name">
                <button @click="$store.plans.prev()">{% include 'svg/arrow_down.svg' %}</button>
                <div class="title" x-text="$store.plans.currentPlan.title"></div>
                <button @click="$store.plans.next()">{% include 'svg/arrow_down.svg' %}</button>
            </div>

            <ul class="features">
                <template x-for="feat in $store.plans.currentPlan.features" :key="feat.feature.code">
                    <li>
                        <span x-text="feat.feature.name"></span>
                        <span x-text="feat.limit"></span>
                    </li>
                </template>
            </ul>

            <div class="description" x-if="$store.plans.currentPlan.description">
                <div class="description" x-text="$store.plans.currentPlan.description">{{ plan.description }}</div>
                <hr x-show="$store.plans.currentPlan.price_stars != null">
            </div>

            <div class="price_block" x-show="$store.plans.currentPlan.price_stars != null">
                <div class="price">
                    <div class="value"><div x-text="$store.plans.currentPlan.price_stars"></div><img
                            src="{% static 'img/star.png' %}" alt=""></div>
                    <div class="note">≈
                        <div x-data x-text="0.02 * $store.plans.currentPlan.price_stars"></div>
                        $
                    </div>
                </div>
            </div>

        </div>
    </template>

</div>