{% load static %}
<div class="plans">
    <div class="caption">Ежемесячные подписки</div>

    <div class="list">
        {% for plan in plans %}
            <visibility-toggle class="main_block plan" threshold="0.3">
                <div class="to-show">
                    <div class="caption">{{ plan.title }}</div>
                    <div class="features">
                        <ul>
                            {% for plan_feature in plan.features.all %}
                                <li>
                                    <div class="name">{{ plan_feature.feature.name }}</div>
                                    <div class="limit">{{ plan_feature.limit }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if plan.description %}
                        <div class="description">{{ plan.description }}</div>
                        {% if plan.price_stars %}
                            <hr>
                        {% endif %}
                    {% endif %}
                    {% if plan.price_stars %}
                        <div class="price">
                            <div class="value">{{ plan.price_stars }}<img src="{% static 'img/star.png' %}" alt=""></div>
                            <div class="note">≈ <div x-data x-text="0.02 * {{ plan.price_stars }}"></div>$</div>
                        </div>
                        <button>Оформить</button>
                        {% else %}
                        <div style="padding: 10px"></div>
                    {% endif %}
                </div>
            </visibility-toggle>
        {% endfor %}
    </div>

</div>