<!doctype html>
{% load static %}
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="{% static 'js/telegram.js' %}" defer></script>
    {% block main_scripts %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body x-data="tabsHandler()" x-init="init_tabs()" style="">
{% block body %}
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block body_bottom %}
    {% endblock %}
{% endblock %}
{% include 'i18n.html' %}
</body>
</html>