<template x-if="Alpine.store('appData').sections.length > 1">
    <div class="main_block as_caption menu caption_block" style="border-radius: 0;">
         {% include 'section/inc/menu/_section_name.html' %}
        <div @click="Alpine.store('appData').nextSection()" class="nav_btn">{% include 'svg/arrow_down.svg' %}</div>
    </div>
</template>

    <template x-if="Alpine.store('appData').sections.length <= 1">
        <div class="main_block as_caption menu caption_block" style="border-radius: 0;">
            {% include 'section/inc/menu/_section_name.html' %}
        </div>
    </template>
