{% load i18n %}
<template x-if="Alpine.store('appData').sections.length > 1">
    <div class="main_block as_caption menu caption_block" style="border-radius: 0;">
        <p>{% trans 'Rooms' %}</p>
        <div
            x-data="{ animate: false }"
            @click="
                animate = false;
                Alpine.store('appData').nextSection();
                requestAnimationFrame(() => {
                    animate = true;
                    setTimeout(() => animate = false, 250);
                });
            "
            :class="{ 'animate-icon': animate }"
            class="nav_btn"
        >
            {% include 'svg/arrow_down.svg' %}
        </div>
    </div>
</template>

<template x-if="Alpine.store('appData').sections.length === 1">
    <div class="main_block as_caption menu caption_block" style="border-radius: 0;">
        <p>{% trans 'Room' %}</p>
    </div>
</template>