{% load static %}
<div class="team">
    <template x-for="person in getSortedSectionUsers" :key="person.id">
        <div class="main_block person_card">
            <div class="top">
                <div class="data">
                    <div class="row">
                        <template x-if="person.is_owner">
                            <div>Владелец</div>
                        </template>
                        <div><strong>Имя: </strong>
                            <span x-text="[person.first_name, person.last_name]
                                  .filter(Boolean)
                                  .join(' ')"
                            ></span>
                        </div>

                        <template x-if="person.username">
                            <div @click.prevent="
                                window.Telegram.WebApp.openTelegramLink('https://t.me/' + person.username);
                                window.Telegram.WebApp.close();">@<span  x-text="person.username"></span></div>
                        </template>

                    </div>
                </div>
                <div class="photo">
                    <img :src="person?.photo || '{% static 'img/avatar.png' %}'" alt="">
                </div>
            </div>
        </div>
    </template>

    {% include 'section/inc/menu/_add_member.html' %}

</div>
